POSTGRES_DB=bloomix_admin
POSTGRES_USER=bloomix
POSTGRES_PASSWORD=change_me

DB_URL=jdbc:postgresql://localhost:5432/bloomix_admin
DB_USERNAME=bloomix
DB_PASSWORD=change_me

REDIS_HOST=localhost
REDIS_PORT=6379
